h1{
  color: pink;
}
body{
  background-color: #00ffff;
}

.hello {
  color: #00dfcf;
  background-color: pink;
  font-size: 12px;
  font-family: cursive;
  width: 32px;

}

.CS {
  color: #00dfcf;
  background-color: pink;
  font-size: 14px;
  font-style: italic;
  width: 28px;

}
